Makefile
Makefile.in
aclocal.m4
autom4te.cache/
*.out
config.*
configure
depcomp
.deps/
vice/compile
vice/missing
vice/src/resid-dtv/COPYING
vice/src/resid-dtv/INSTALL
vice/src/resid/COPYING
vice/src/resid/INSTALL
vice/ylwrap
vice/src/arch/android/AnVICE/AndroidManifest.xml
vice/src/debug.h
vice/src/resid-dtv/siddtvdefs.h
vice/src/resid/siddefs.h
vice/src/stamp-h1
vice/src/version.h
vice/src/vice-version.sh
*.o
lib*.a
*.o65
vice/doc/html/
vice/doc/vice.pdf
vice/doc/.vice-texi-charset-ok
vice/src/resid/wave*.h
vice/src/monitor/mon_*
vice/src/c64/psiddrv.h
vice/src/infocontrib.h
vice/src/x*
vice/src/c1541
vice/src/vsid
vice/idun/resc/
idun-vice-*tar*
